body {
  background-color: white;
}

* {
  font-family: Arial;
}

table {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #f2f2f2;
}

td, th {
    background-color: white;
    width: 50%;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

svg {
    position: relative;
    height: 20px;
    width: 20px;
    align-self: center;
}

#languageSelect {
    width: fit-content;
    background: none;
    border: none;
    width: 100%;
}

#headerDiv {
  height: 5em;
  position: relative 
}

#data {
  position: relative;
  display: block;
  top: 10%;
  max-width: 80%;
  left: 10%;
}

h1 {
  margin: 0;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
}


input[type="submit"]{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea {
  height: 100px;
  resize: none;
}

div#data {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
