body {
    background-color: white;
}


.chooseArea {
    position: relative;
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.2rem 0.2rem 0.05rem 0.2rem;
    border-radius: 1.1rem;
    width: fit-content;
    height: 2.1rem;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.optionText p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.3rem;
	padding: 0.3rem;
}

svg {
    fill: rgb(242, 242, 242);
    height: 1.8rem;
    width: 1.8rem;
	margin: 0.1rem;
}


input[name="chartType"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input[name="chartType"]:hover + svg,
input[name="chartType"]:checked + svg,
input[name="chartType"]:focus + svg {
	fill: greenyellow;
}

#chart {
    max-height: 70%;
}

#dataDiv {
    position: absolute;
    right: 10%;
    width: 80%;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}
  

input[type="date"] {
    position: relative;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 16, 0.19), 0 0.15rem 0.15rem rgba(0, 0, 16, 0.23);
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 16, 0.19), 0 0.15rem 0.15rem rgba(0, 0, 16, 0.23);
	background-color: rgb(255, 255, 255);
	padding: 0.4rem;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

select {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 16, 0.19), 0 0.15rem 0.15rem rgba(0, 0, 16, 0.23);
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 16, 0.19), 0 0.15rem 0.15rem rgba(0, 0, 16, 0.23);
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    width: fit-content;
}

option {
    border-radius: 1px;
    border-color: black;
}