body {
    background-color: white;
}

#headerDiv {
    height: 1em;
    position: relative 
}

h1 {
    margin: 0;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
}

#dataDiv {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
}